In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Read the weather_data.csv file
weather_path = "weather_data.csv"

#Create a dataframe from the weather_data.csv file
weather_df = pd.read_csv(weather_path)

#Reorder the dataframe columns
column_list = ['City ID', 'City', 'Country', 'Latitude', 'Longitude', 'Max Temperature', 'Humidity', 'Cloudiness', 'Wind Speed', 'Timestamp']
weather_df = weather_df[column_list]

#Rename columns
weather_df.rename(columns = {'Max Temperature': 'Max Temperature (°F)', 'Humidity': 'Humidity (%)', 'Cloudiness': 'Cloudiness (%)', 'Wind Speed': 'Wind Speed (MPH)'}, inplace = True)

#Print weather_df dataframe
weather_df.head()

,City ID,City,Country,Latitude,Longitude,Max Temperature (°F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Timestamp
0,1,Kikwit,CD,-5.04,18.82,74.84,85,100,0.67,1598559844
1,2,Guilin,CN,25.28,110.29,71.60,94,0,1.59,1598559781
2,3,Hobart,AU,-42.88,147.33,48.00,79,90,10.29,1598559463
3,4,Albany,US,42.60,-73.97,64.99,95,100,4.79,1598559338
4,5,Naze,JP,28.37,129.48,80.60,94,97,5.82,1598559601

In [3]:
#Export the weather_df dataframe to html
    #https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.to_html.html
weather_df.to_html('weather_data.html', index = False, header = True)